<div class="form-formatting">
	<%= form_for @user_scenario do |f| %>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label field-formatting">
				<%= f.label :start_date %>
			</div>
			<div class="col-sm-2.5 field-formatting">
				<%= f.date_field :start_date %>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label field-formatting">
				<%= f.label :number_days, 'Number of Days' %>
			</div>
			<div class="col-sm-2.5 field-formatting">
				<%= f.number_field :number_days %>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-2 col-form-label field-formatting">
				<%= f.label :initial_lended_amount, "Initial Amount" %>
			</div>
			<div class="col-sm-2.5 field-formatting">
				<%= f.number_field :initial_lended_amount, :value => number_with_precision(f.object.initial_lended_amount, precision: 2 ) %>
			</div>
		</div>

		<%= f.submit 'Update', class: "btn btn-primary", id: "user-scenario-submit", style: 'margin-bottom: 10px;' %>
		
	<% end %>
</div>