
<div class="container">
	<div class="row">
		<div class="col-6">
			<%= render partial: 'form', locals: { source: 'edit' } %>
		</div>
		<div class="col-5" data-user-scenario--id="<%= @user_scenario.id %>" >
			<%= render 'shared/dropdowns' %>
		</div>
	</div>
</div>



<% end_date = @user_scenario.start_date.next_day(@user_scenario.number_days - 1) %>
<div <div class="table-responsive" id="user_scenario_<% @user_scenario.id %>">
	<table class="table table-striped table-sm">
		<thead>
			<tr >
				<th>Day</th>
				<th>Date</th>
				<th>Interest</th>
				<th>Wallet Balance</th>
				<th>Wallet Balance</th>
				<th>Active Investment</th>
				<th>Extra Interest</th>
				<th>Extra Rate</th>
				<th>Additional Investment</th>
			</tr>
		</thead>
		<tbody>
		<% @user_scenario.start_date.upto(end_date) do |date| %>
		<% @days_of_plan += 1 %>
		<% plan_date = date %>
		<tr>
			<td><%= @days_of_plan %></td>
			<td><%= date %></td>
			<td><%= @interest %></td>
			<td>0</td>
			<td>0</td>
			<td><%= @active_investment + @additional_weekday_capital%></td>
			<% extra_interest_calc(@active_investment, @additional_weekday_capital) %>
			<td><%= @extra_interest %></td>
			<td><%= @extra_interest_rate %></td>
			<% if @user_scenario.add_investment.present? %>
				<% additional_investments(date, @active_investment, @extra_interest) %>
			<% end %>
			<td><%= @additional_weekday_capital %> </td>			
		</tr>
		<% end %>
	</tbody>
	</table>
</div>

<%= link_to "Index", user_scenarios_path %>



