<h1>Your Records</h1>

<% @user_scenarios.each do |user_scenario| %>
	<p><%= "Scenario #{user_scenario.id}  -  " %>        
	<%= "Start date: #{user_scenario.start_date}  -  " %>
	<%= "Initital Lended amount $#{user_scenario.initial_lended_amount}" %>
	<%= link_to 'Edit', edit_user_scenario_path(user_scenario) %>
	<%= link_to 'Delete', user_scenario, method: :delete, data: {confirm: 'Are you sure?'} %>
	</p>
<% end %>

<%= link_to 'New Record', new_user_scenario_path %>

