<% if @user_scenarios.present? %>
	<h1 style="margin-bottom: 20px; margin-top: -15px;">Your Models</h1>
<% else %>
	<h3> <%= "Welcome #{current_user.first_name} #{current_user.last_name}" %></h3>
	<h5> About the system </h5>
	<p>This tool allows you to calculate the amount of money</p>

<% end %>


	<% @user_scenarios.each do |user_scenario| %>
		<div class="card index-card">
			<div class="card-body">
				<p class="spacing"><%= "Scenario #{user_scenario.id}" %></p>     
				<p class="spacing"><%= "Start date: #{user_scenario.start_date}" %></p>
				<p class="spacing"><%= "Initital Lended amount $#{user_scenario.initial_lended_amount}" %></p>
				<%= link_to (fa_icon "edit"), edit_user_scenario_path(user_scenario) , class: "icons" %>
				<%= link_to (fa_icon "trash"), user_scenario, method: :delete, data: {confirm: 'Are you sure?'}, class: "icons" %>
			</div>
		</div>
	<% end %>






<%= link_to 'New Record', new_user_scenario_path, class: "btn btn-primary" %>

