<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @add_investment_month.user %>
</p>

<p>
  <strong>User scenario:</strong>
  <%= @add_investment_month.user_scenario %>
</p>

<p>
  <strong>Newinvest month day 1:</strong>
  <%= @add_investment_month.newinvest_month_day_1 %>
</p>

<p>
  <strong>Newinvest month day 1 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_1_amt %>
</p>

<p>
  <strong>Newinvest month day 2:</strong>
  <%= @add_investment_month.newinvest_month_day_2 %>
</p>

<p>
  <strong>Newinvest month day 2 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_2_amt %>
</p>

<p>
  <strong>Newinvest month day 3:</strong>
  <%= @add_investment_month.newinvest_month_day_3 %>
</p>

<p>
  <strong>Newinvest month day 3 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_3_amt %>
</p>

<p>
  <strong>Newinvest month day 4:</strong>
  <%= @add_investment_month.newinvest_month_day_4 %>
</p>

<p>
  <strong>Newinvest month day 4 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_4_amt %>
</p>

<p>
  <strong>Newinvest month day 5:</strong>
  <%= @add_investment_month.newinvest_month_day_5 %>
</p>

<p>
  <strong>Newinvest month day 5 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_5_amt %>
</p>

<p>
  <strong>Newinvest month day 6:</strong>
  <%= @add_investment_month.newinvest_month_day_6 %>
</p>

<p>
  <strong>Newinvest month day 6 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_6_amt %>
</p>

<p>
  <strong>Newinvest month day 7:</strong>
  <%= @add_investment_month.newinvest_month_day_7 %>
</p>

<p>
  <strong>Newinvest month day 7 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_7_amt %>
</p>

<p>
  <strong>Newinvest month day 8:</strong>
  <%= @add_investment_month.newinvest_month_day_8 %>
</p>

<p>
  <strong>Newinvest month day 8 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_8_amt %>
</p>

<p>
  <strong>Newinvest month day 9:</strong>
  <%= @add_investment_month.newinvest_month_day_9 %>
</p>

<p>
  <strong>Newinvest month day 9 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_9_amt %>
</p>

<p>
  <strong>Newinvest month day 10:</strong>
  <%= @add_investment_month.newinvest_month_day_10 %>
</p>

<p>
  <strong>Newinvest month day 10 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_10_amt %>
</p>

<p>
  <strong>Newinvest month day 11:</strong>
  <%= @add_investment_month.newinvest_month_day_11 %>
</p>

<p>
  <strong>Newinvest month day 11 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_11_amt %>
</p>

<p>
  <strong>Newinvest month day 12:</strong>
  <%= @add_investment_month.newinvest_month_day_12 %>
</p>

<p>
  <strong>Newinvest month day 12 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_12_amt %>
</p>

<p>
  <strong>Newinvest month day 13:</strong>
  <%= @add_investment_month.newinvest_month_day_13 %>
</p>

<p>
  <strong>Newinvest month day 13 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_13_amt %>
</p>

<p>
  <strong>Newinvest month day 14:</strong>
  <%= @add_investment_month.newinvest_month_day_14 %>
</p>

<p>
  <strong>Newinvest month day 14 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_14_amt %>
</p>

<p>
  <strong>Newinvest month day 15:</strong>
  <%= @add_investment_month.newinvest_month_day_15 %>
</p>

<p>
  <strong>Newinvest month day 15 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_15_amt %>
</p>

<p>
  <strong>Newinvest month day 16:</strong>
  <%= @add_investment_month.newinvest_month_day_16 %>
</p>

<p>
  <strong>Newinvest month day 16 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_16_amt %>
</p>

<p>
  <strong>Newinvest month day 17:</strong>
  <%= @add_investment_month.newinvest_month_day_17 %>
</p>

<p>
  <strong>Newinvest month day 17 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_17_amt %>
</p>

<p>
  <strong>Newinvest month day 18:</strong>
  <%= @add_investment_month.newinvest_month_day_18 %>
</p>

<p>
  <strong>Newinvest month day 18 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_18_amt %>
</p>

<p>
  <strong>Newinvest month day 19:</strong>
  <%= @add_investment_month.newinvest_month_day_19 %>
</p>

<p>
  <strong>Newinvest month day 19 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_19_amt %>
</p>

<p>
  <strong>Newinvest month day 20:</strong>
  <%= @add_investment_month.newinvest_month_day_20 %>
</p>

<p>
  <strong>Newinvest month day 20 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_20_amt %>
</p>

<p>
  <strong>Newinvest month day 21:</strong>
  <%= @add_investment_month.newinvest_month_day_21 %>
</p>

<p>
  <strong>Newinvest month day 21 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_21_amt %>
</p>

<p>
  <strong>Newinvest month day 22:</strong>
  <%= @add_investment_month.newinvest_month_day_22 %>
</p>

<p>
  <strong>Newinvest month day 22 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_22_amt %>
</p>

<p>
  <strong>Newinvest month day 23:</strong>
  <%= @add_investment_month.newinvest_month_day_23 %>
</p>

<p>
  <strong>Newinvest month day 23 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_23_amt %>
</p>

<p>
  <strong>Newinvest month day 24:</strong>
  <%= @add_investment_month.newinvest_month_day_24 %>
</p>

<p>
  <strong>Newinvest month day 24 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_24_amt %>
</p>

<p>
  <strong>Newinvest month day 25:</strong>
  <%= @add_investment_month.newinvest_month_day_25 %>
</p>

<p>
  <strong>Newinvest month day 25 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_25_amt %>
</p>

<p>
  <strong>Newinvest month day 26:</strong>
  <%= @add_investment_month.newinvest_month_day_26 %>
</p>

<p>
  <strong>Newinvest month day 26 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_26_amt %>
</p>

<p>
  <strong>Newinvest month day 27:</strong>
  <%= @add_investment_month.newinvest_month_day_27 %>
</p>

<p>
  <strong>Newinvest month day 27 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_27_amt %>
</p>

<p>
  <strong>Newinvest month day 28:</strong>
  <%= @add_investment_month.newinvest_month_day_28 %>
</p>

<p>
  <strong>Newinvest month day 28 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_28_amt %>
</p>

<p>
  <strong>Newinvest month day 29:</strong>
  <%= @add_investment_month.newinvest_month_day_29 %>
</p>

<p>
  <strong>Newinvest month day 29 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_29_amt %>
</p>

<p>
  <strong>Newinvest month day 30:</strong>
  <%= @add_investment_month.newinvest_month_day_30 %>
</p>

<p>
  <strong>Newinvest month day 30 amt:</strong>
  <%= @add_investment_month.newinvest_month_day_30_amt %>
</p>

<%= link_to 'Edit', edit_add_investment_month_path(@add_investment_month) %> |
<%= link_to 'Back', add_investment_months_path %>
