
<%= form_for @add_investment, remote:true do |f| %>
<div class="row form-group">
  <div class="col-3">
    <h5>Day of the Week</h5>
    <div class="form-group">
      <%= f.label :newinvest_sun, "Sunday" %>
      <%= f.check_box :newinvest_sun %>
    </div>


    <div class="form-group"">
      <%= f.label :newinvest_mon, "Monday" %>
      <%= f.check_box :newinvest_mon %>
    </div>

    <div class="form-group"">
      <%= f.label :newinvest_tue, "Tuesday"  %>
      <%= f.check_box :newinvest_tue %>
    </div>

    <div class="form-group"">
      <%= f.label :newinvest_wed, "Wednesday"  %>
      <%= f.check_box :newinvest_wed %>
    </div>
  </div>
  <div class="col-3">
    <h5>Amount</h5>
    <div style="margin-bottom: 15px">
      <%=f.number_field :newinvest_amt_sun %>
    </div>
    <div style="margin-bottom: 15px">
      <%=f.number_field :newinvest_amt_mon %>
    </div>
    <div style="margin-bottom: 15px">
      <%=f.number_field :newinvest_amt_tue %>
    </div>
    <div>
      <%=f.number_field :newinvest_amt_wed %>
    </div>
    
  </div>
  <div class="col-3">
    <h5>Day of the Week</h5>
    <div class="form-group">
      <%= f.label :newinvest_thu, "Thursday"  %>
      <%= f.check_box :newinvest_thu %>
    </div>

    <div class="form-group">
      <%= f.label :newinvest_fri, "Friday"  %>
      <%= f.check_box :newinvest_fri%>
    </div>

    <div class="form-group">
      <%= f.label :newinvest_sat, "Saturday"  %>
      <%= f.check_box :newinvest_sat %>
    </div>
  </div>

  <div class="col-2">
    <h5>Amount</h5>
    <div style="margin-bottom: 15px">
      <%=f.number_field :newinvest_amt_thu%>
    </div>

    <div style="margin-bottom: 15px">
      <%=f.number_field :newinvest_amt_fri%>
    </div>
    <div style="margin-bottom: 15px">
      <%=f.number_field :newinvest_amt_sat%>
    </div>
  </div>
</div>
  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-primary", id: 'weekly' %>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
<% end %>




