<!DOCTYPE html>
<html>
  <head>
    <title>LendConnect</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Dashboard Template for Bootstrap</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
            <% @user_scenarios.each do |user_scenario| %>
              <li class="nav-item", style="list-style: none;">
                <span data-feather="home"></span>
                  <%= link_to "Scenario #{user_scenario.id}", edit_user_scenario_path(user_scenario), class: 'nav-link active' %> <span class="sr-only">(current)</span>
              </li>
            </ul>
            <% end %>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <%= yield %>
        </main>
      </div>
    </div>
  	<%= render 'shared/alerts' %>
  </body>
</html>
